# Python cache
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Environment Variables & Secrets
.env
.env.local

# Virtual environments
venv/
env/
.venv/

# Streamlit config
.streamlit/

# OS specific
.DS_Store
Thumbs.db
